<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>FALSEBUSTER | Agregar Peliculas</title>
</head>
<body>
    <h1>FALSEBUSTER</h1>
    <h2>Agregar Peliculas al inventario</h2>
    <h3>Codo a Codo | 2023</h3>
    <form id="formulario" enctype="multipart/form-data">
        <label for="IDpeli">Código</label>
        <input type="text" name="codigo" id="IDpeli">
        <label for="Titulo">Título</label>
        <input type="text" name="titulo" id="Titulo">
        <label for="Año">Año</label>
        <input type="text" name="año" id="Año">
        <label for="Director">Director</label>
        <input type="text" name="año" id="Director">
        <label for="Clasificación">Clasificación</label>
        <input type="text" name="clasificación" id="Clasificación">
        <label for="Calificación">Calificación</label>
        <input type="number" name="calificación" id="Calificación">
        <label for="Imagen_url">Imagen</label>
        <input type="file" name="imagenPelicula" id="Imagen_url">
        <button type="submit">Agregar Pelicula</button>
        <a href="index.html">Menú Principal</a>
    </form>
    <script src="/static/altas.js"></script>
</body>
</html>