<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>FALSEBUSTER | |API</title>
</head>
<body>
    <h1>FALSEBUSTER</h1>
    <h3>Codo a Codo | 2023</h3>
    <div class="contenedor-menu-principal">
        <ul>
            <li><a href="altas.html">Alta de peliculas</a></li>
            <li><a href="listado.html">Listado de peliculas</a></li>
            <li><a href="modficaciones.html">Modificar peliculas</a></li>
            <li><a href="listadoEliminar.html">Eliminar peliculas</a></li>
        </ul>
    </div>
</body>
</html>