<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>FALSEBUSTER | Listado</title>
</head>
<body>
    <h1>FALSEBUSTER</h1>
    <h2>Listado de Peliculas</h2>
    <h3>Codo a Codo | 2023</h3>
    <table>
        <thead>
            <tr>
                <th>IDpeli</th>
                <th>Título</th>
                <th>Año</th>
                <th>Clasificacíon</th>
                <th>Calificación</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="tablaPeliculas"> </tbody>
    </table>
    <div class="contenedor-centrado">
        <a href="index.html">Menú principal</a>
    </div>
    <script src="/static/listado.js"></script>
</body>
</html>